* linguist-detectable=false text=auto eol=lf

# Include only core files
.devcontainer/scripts/** linguist-detectable=true
broker/** linguist-detectable=true
sensor/** linguist-detectable=true
database/** linguist-detectable=true
consumer/src/mosquitto_consumer/mqtt_consumer_client.py linguist-detectable=true
