services:
  mosquitto-broker:
    container_name: mosquitto-broker
    build: ./mosquitto-broker
    environment:
      MQTT_USERNAME: ${MQTT_USERNAME}
      MQTT_PASSWORD: ${MQTT_PASSWORD}
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto-broker/config:/mosquitto/config:rw
      - ./mosquitto-broker/log:/mosquitto/log
      - mosquitto-data:/mosquitto/data
    restart: unless-stopped

  postgres:
    container_name: postgres_db
    build: ./postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_SUPER_USER: ${POSTGRES_SUPER_USERNAME}
      POSTGRES_SUPER_PASSWORD: ${POSTGRES_SUPER_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgres/data
    restart: unless-stopped

  mosquitto-consumer:
    build: ./mosquitto-consumer
    environment:
      MQTT_USERNAME: ${MQTT_USERNAME}
      MQTT_PASSWORD: ${MQTT_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_SUPER_USER: ${POSTGRES_SUPER_USERNAME}
      POSTGRES_SUPER_PASSWORD: ${POSTGRES_SUPER_PASSWORD}
    volumes:
      - ./logs:/app/logs
    depends_on:
      - postgres
      - mosquitto-broker
    restart: unless-stopped

volumes:
  postgres-data:
  mosquitto-data:
